In [114]:
import pandas as pd

In [115]:
pip install chardet

Requirement already satisfied: chardet in c:\users\keshav rao maratha\anaconda3\envs\booksenv\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [116]:
df = pd.read_csv("data.csv")

In [117]:
df

,Unnamed: 0,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,NaN,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,NaN,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.4
2,NaN,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,NaN,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,NaN,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,NaN,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,NaN,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,NaN,Hrithik Roshan,War,2019,Action,475,6.5
8,NaN,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,NaN,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,NaN,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,NaN,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [118]:
df['Actor'][3]

'Ranbir Kapoor'

In [119]:
type(df['Actor'])

pandas.core.series.Series

In [120]:
df[['Actor', 'IMDb']]

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.4
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [121]:
df.loc[1]

Unnamed: 0                          NaN
Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.4
Name: 1, dtype: object

In [122]:
df.iloc[1]

Unnamed: 0                          NaN
Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.4
Name: 1, dtype: object

In [123]:
df.loc[8, 'IMDb']

np.float64(7.0)

In [124]:
df.iloc[7, 5]

np.int64(475)

In [125]:
df.loc[0:2, ["Actor", "IMDb"]]

            Actor  IMDb
0  Shah Rukh Khan   7.2
1     Salman Khan   6.4
2      Aamir Khan   8.4

In [126]:
df.iloc[0:2, 0:2]

   Unnamed: 0           Actor
0         NaN  Shah Rukh Khan
1         NaN     Salman Khan

In [127]:
df.at[0, "Actor"]

'Shah Rukh Khan'

In [129]:
df.iat[0, 1]

'Shah Rukh Khan'

In [130]:
df[df['IMDb']>6] ['Actor']

,Unnamed: 0,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,NaN,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,NaN,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.4
2,NaN,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,NaN,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,NaN,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,NaN,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,NaN,Hrithik Roshan,War,2019,Action,475,6.5
8,NaN,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,NaN,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,NaN,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [137]:
df[(df['IMDb']>6) | (df['Year']>2018)]

,Unnamed: 0,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,NaN,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,NaN,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.4
2,NaN,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,NaN,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,NaN,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,NaN,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,NaN,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,NaN,Hrithik Roshan,War,2019,Action,475,6.5
8,NaN,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,NaN,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,NaN,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,NaN,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [140]:
df.query("Year > 2018 and IMDb >6")

,Unnamed: 0,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,NaN,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
7,NaN,Hrithik Roshan,War,2019,Action,475,6.5
8,NaN,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
11,NaN,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2